body.ios {

    .tab-button {
      &[aria-selected="false"] {
        color: #8c8c8c !important;
      }
  
      &[aria-selected="true"] {
        color: #f53d3d !important;
      }
    }
  
  }

img{
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%
}

.input{
  width: 85%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.buttons{
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
