<ion-header>

  <ion-navbar hideBackButton color="primary">
          <button ion-button icon-only menuToggle>
                  <ion-icon name="menu"></ion-icon>
          </button>

          <ion-title>
                  Reindeer Tracker
          </ion-title>

  </ion-navbar>

</ion-header>

<ion-content>

  <div id="map_canvas"></div>

<!--
  <ion-grid>
    <ion-row>
      <ion-col col-3>TrackerID</ion-col>
      <ion-col col-3>Name</ion-col>
      <ion-col col-4>Status</ion-col>
      <ion-col col-2>Battery</ion-col>
    </ion-row>
  </ion-grid>

  <ion-list *ngIf="reindeer">
    <ion-grid>
      <button ion-item *ngFor="let item of reindeer" (click)="openDetail(true, item.reindeerId)">

        <ion-row>
          <ion-col col-3>
            {{item.serialnumber}}
          </ion-col>
          <ion-col col-3 style="overflow: hidden;">
            {{item.name}}
          </ion-col>
          <ion-col col-4>
            <div *ngIf="item.status">Alive</div>
            <div *ngIf="!item.status">Dead</div>
          </ion-col>
          <ion-col col-2>
            {{item.battery}}<span *ngIf="item.battery">%</span>
          </ion-col>
        </ion-row>




      </button>
    </ion-grid>

  </ion-list>

-->
</ion-content>


<ion-footer>
  
</ion-footer>
