<ion-header>
    <ion-navbar color="primary">
        <ion-buttons end>
            <button ion-button icon-only (click)="refresh()">
                <ion-icon name="refresh"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>
            Reindeer Tracker
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <div *ngIf="trackers">

        <ion-list>
            <ion-list-header>
                Assigned trackers
            </ion-list-header>

            <div *ngFor="let tracker of trackers">
                <ion-item-sliding #item *ngIf="tracker.assigned == 'true' ">
                    <ion-item>
                        <button ion-button color="dark">Serialnumber: {{ tracker.serialnumber }}</button>
                        <button ion-button color="light">Reindeer: Naam komt hier</button>
                    </ion-item>

                    <ion-item-options side="right">
                        <button ion-button color="default" (click)="unassignTracker(tracker.serialnumber)">Unassign&nbsp;
                            <ion-icon name="close"></ion-icon>
                        </button>
                        <button ion-button color="danger" (click)="deleteTracker(tracker.serialnumber)">Delete&nbsp;
                            <ion-icon name="trash"></ion-icon>
                        </button>
                        <button ion-button color="light" (click)="showInfo(tracker.serialnumber)">More info&nbsp;
                            <ion-icon name="information-circle"></ion-icon>
                        </button>

                    </ion-item-options>


                </ion-item-sliding>
            </div>

        </ion-list>

        <ion-list>
            <ion-list-header>
                Unassigned trackers
            </ion-list-header>

            <div *ngFor="let tracker of trackers">
                <ion-item-sliding #item *ngIf="tracker.assigned == 'false' ">
                    <ion-item>
                        <button ion-button color="dark">Serialnumber: {{ tracker.serialnumber }}</button>
                    </ion-item>

                    <ion-item-options side="right">
                        <button ion-button color="secondary" (click)="assignTracker(tracker.serialnumber)">Assign&nbsp;
                            <ion-icon name="add"></ion-icon>
                        </button>
                        <button ion-button color="danger" (click)="deleteTracker(tracker.serialnumber)">Delete&nbsp;
                            <ion-icon name="trash"></ion-icon>
                        </button>

                    </ion-item-options>


                </ion-item-sliding>
            </div>

        </ion-list>
    </div>

</ion-content>

<ion-footer>
    <ion-toolbar color="secondary">
        <ion-grid>
            <ion-row>
                <ion-col (click)='addTracker()'>
                    <ion-title>
                        Add new tracker
                    </ion-title>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>