<ion-header>

  <ion-navbar color="primary">
    <ion-buttons end>
      <button ion-button icon-only (click)='refresh()'>
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>
      Reindeer Tracker
    </ion-title>
  </ion-navbar>

</ion-header>
<ion-content>

  <div #map id="map"></div>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="card" ion-item *ngFor="let detail of details">
          <ion-card-content>
            Reindeer ID:{{detail.reindeerId}}
            <br>Name: {{detail.name}}
            <br>Status: {{detail.status}}
            <br>Battery: {{detail.battery}}%
            <br>Last activity: {{detail.time | date:'d/MM/yy'}}
            <br>Birthdate: {{detail.birthDate}}
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card class="card" ion-item *ngFor="let detail of details">
    <ion-card-content>
      <img [src]="detail.picture" />
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col (click)='openSettings()'>
          <ion-icon name="create"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>