<ion-header>

  <ion-navbar color="primary">
    <ion-buttons end>
      <button ion-button icon-only (click)='refresh()'>
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>
      Reindeer Details
    </ion-title>
  </ion-navbar>

</ion-header>
<ion-content>
    <div #map id="map"></div>

  <ion-grid *ngIf="details">
    <ion-row>
      <ion-col>
        <ion-card class="card" ion-item *ngFor="let detail of details">
          <ion-card-content>
            <span *ngIf="detail.reindeerId">Reindeer ID:{{detail.reindeerId}}</span>
            <span *ngIf="detail.name"><br>Name: {{detail.name}}</span>
            <span *ngIf="detail.status"><br >Status: Alive</span>
            <span *ngIf="!detail.status"><br >Status: Dead</span>
            <span *ngIf="detail.battery"><br>Battery: {{detail.battery}}%</span>
            <span *ngIf="detail.time"><br>Last activity: {{detail.time | date:'d/MM/yyyy'}}</span>
            <span *ngIf="detail.birthDate"><br>Birthdate: {{detail.birthDate | date:'d/MM/yyyy'}}</span>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
  </ion-grid>

 
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col (click)='openSettings()'>
          <ion-icon name="create"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>